

.margin-left {
    margin-left: -2.5rem;
}

.container {
    .ul {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    .li {
        margin-right: 2rem;
        list-style: none;
    }
    .show-li:nth-child(1){
        filter: invert(100%);
        text-decoration: underline;
    }
    .li.active {
        filter: invert(100%);
        text-decoration: underline;
    }
    .sub-container {
        margin-top: 4rem;
        .block {
            min-width: 100%;
            top: 0;
            display: none;
            .title{
                    font-size: 1.2rem;
             }
        }
    }
    .show:nth-child(1){
            display: block;
    }
    .block.active {
        display: block;
    }
    
}

.items {
    min-width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 80% 10%;
    gap: 2rem;
    
}
