
:root {
    --main-color: #ffffff;
    --text-color: #000000;
}



body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.1rem;
    background-color: var(--main-color);
    color: var(--text-color);
}

.margins{
        padding: 0 15px;
}
    


.banner {
    position: relative;
    height: 700px;
    display: flex;
    

    img {
        object-fit: cover;
        width: 100%;
        
    }
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
      }
      
}
.margin-top {
    margin-top: 10rem;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 0 ;
    p {
        width: 100%;
        line-height: 1.8rem;
    }
  }
  .intro {
    text-align: center;
  }
  
  section {
    opacity: 0;
    transition: all 1.5s;
  }
  .section-appear {
    opacity: 1;
  }